# private and public keys, must not uploaded to github
id_*

# known_hosts include private machine list
known_hosts

# config lists the way to log into private hosts
config

# ControlMasters are UNIX sockets, unable to git-manage
*ControlMaster*