# hist file can contain sensitive info
history
.zsh_history

# compinit cache file no need to manage
.zcompdump
.zcompdump*
.zcompcache/

# _brew is from outer repo, no need here
functions/_brew

# misc
.zsh_sessions/